<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/Group2.png">


    <title>Document</title>
</head>
<body>
    <div class="main-contant">
        {{>header}}
        <div id="social">
            <a href="https://github.com/KhaledGharib"><img src="img/github-mark.svg" alt="github"></a>
            
            <a id="linkedin" href="https://www.linkedin.com/in/khaled-gharib/Link"><img id="linkedin"src="img/iconmonstr-linkedin-3.svg" alt="linkedin"></a>
        </div>
    </div>

    {{>footer}}
</body>
</html>